*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(203, 233, 97);
}
.btn{
    padding: 10px 40px;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    margin: 50px 150px;
    border-radius: 25px;
    cursor: pointer;
    color: white;
}
.modal{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 300px;
    width: 700px;
    position: absolute;
    left: 50%;
    top:  10%;
    transform: translate(-50%, 50%);
    text-align: justify;
    padding: 10px 20px;
    font-size: 18px;
}
.modal h2{
    text-align: center;
    margin: 5px 0px;
}
.closeModal{
    position: absolute;
    right: 10px;
    top: 0;
    border: none;
    font-size:  35px;
    background: none;
    color: white;
    cursor: pointer;
}