/* *{
    margin: 0;
    padding: 0;
} */

.box {
    height: 300px;
    width: 300px;
    background-color: green;
    color: white;
    border: 10px double rgb(18, 198, 226);
    text-align: center;

}
.box p{
/* font-family: "Roboto Condensed", sans-serif; */
 /* font-family: "Barlow Condensed", sans-serif; */
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  font-weight: 900;
}

.box1 {
    background-color: red;
    margin: 30px;
    /* margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 10px; */
    /* margin: 20px 100px; */
    /* margin: 100px 50px 100px 140px; */
    padding: 40px;

}

.box2 {
    background-color: blue;
}