*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(63, 63, 63);
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    height:  50vh;
    padding: 10px 20px;
}
.btn{
    height: 40px;
    width: 100px;
    font-weight: bold;
    font-size: 20px;
}
header h1{
    margin-top: 150px;
    font-size: 50px;
}
.between{
    font-size: 20px;
}
.content{
    display: flex;
    justify-content: space-around;
    padding: 80px 0px;
}
.guess{
    height: 50px;
    text-align: center;
    font-size: 25px;
    width: 150px;
    background: transparent;
    color: white;
    border: 2px solid white;
}
.heading{
    font-size: 40px;
    margin-bottom: 30px;
}
.scoreLabel{
    font-size: 20px;
    margin-bottom: 10px;
}
.highestScoreLabel{
    font-size: 20px;
    margin-bottom: 10px;
}
hr{
    height: 3px;
    background-color: white;
}
.secretNumber{
    height: 80px;
    width: 140px;
    color: black;
    background-color: white;
    border-radius: 5px;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 42.5%;
    transform:translate(-50%, 50%);
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}
